.idea/*
.DS_Store
.calva/
.clj-kondo/
.cpcache/
.lein-repl-history
.lsp/
.vscode/
app-log/
estado/
konservedb/
logs/
project.clj.BUENO.java11
project.clj.VERSIONES-NUEVAS-LA-NO-JALA
project.clj.bk
project.clj.dev
resources/public/js/compiled/out/
*.tgz
robot-3.1.4/
src/clj-tests/
target/
pom.xml
