@base-color: #E2724B;
@sub-color: #3B3E47;
.split-vertical {
    .re-v-split-splitter {
        border-top: 3px solid @base-color;
        div {
            div {
                border-botom: 1px solid @base-color !important;
            }
        }
    }
}
