<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties/>
  <Appenders>
<!--
    <File name="FILE" fileName="./logs/strauz-xsd-validator.log" append="true">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [${hostName}] [%t] %c{2} - %m%n"/>
    </File>

    <RollingFile name="ROLLING-FILE"
        fileName="./logs/strauz-xsd-validator.log"
        filePattern="./logs/strauz-xsd-validator-%d{yyyy-MM-dd}.log"
        append="true">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [${hostName}] [%t] %c{2} - %m%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
      <DefaultRolloverStrategy max="7"/>
    </RollingFile>
-->
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern=":robot %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5p}{FATAL=magenta, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue} [%t] %c{2} - %m%n"/>
    </Console>
<!--
    <Kafka name="Kafka" topic="strauz">
      <PatternLayout pattern="%date %message"/>
      <Property name="bootstrap.servers">localhost:9092</Property>
    </Kafka>
-->
  </Appenders>
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="STDOUT"/>
<!--
      <AppenderRef ref="ROLLING-FILE"/>
-->
    </Root>
  </Loggers>

</Configuration>
